body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
/* Define text data for depth */
.legend {
  line-height: 18px;
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

/* Define box information to hold the colors in the legend */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}